.searchForm {
  padding-bottom: 0.5rem;
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
}

.title {
  padding-left: 3rem;
  padding-top: 2rem;
}

.headingContainer {
  background-color: #fffaf7;
  margin-top: -1rem;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.input {
  width: 15rem;
  height: 2rem;
}

.button {
  height: 2rem;
  margin-bottom: 1rem;
  width: 7rem;
  margin-top: 0.5rem;
  background-color: #6cc1c3;
}

.title2 {
  display: block;
}

@media only screen and (min-device-width: 480px) {
  .searchForm {
    flex-direction: row;
    padding-bottom: 2rem;
  }

  .button {
    margin-bottom: 0rem;
    margin-top: 0rem;
    margin-left: 0.5rem;
  }

  .title2 {
    display: inline;
  }
}
