.container {
  display: flex;
  flex-direction: column;
  /* background-color: #fffaf7; */
  padding-bottom: 4rem;
  /* max-width: 768px;
  overflow: hidden; */
}

@media only screen and (min-device-width: 768px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
