.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  height: 20rem;
  width: auto;
}

.ingredientsContainer {
  width: 375px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.instructionsContainer {
  width: 375px;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.steps {
  margin-bottom: 1rem;
}

.saveBtn {
  margin-bottom: 2rem !important;
  width: 10rem;
  background-color: #6cc1c3;
}

.removeBtn {
  margin-bottom: 2rem !important;
  width: 10rem;
  background-color: #f76560;
}
